.containerAmount {
  width: 100%;
  background-color: var(--ciano-preto-escuro);
  border-radius: 14px;
  height: 100%;
  margin-top: 2rem;
  padding: 2rem 1.5rem 1rem;
}

.containerAmount--container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.containerAmount--container--div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.containerAmount--container--div-flex {
  display: flex;
  flex-direction: column;
  line-height: 2;
  margin-bottom: 2rem;
}

.containerAmount--container--div__span-tip {
  color: var(--ciano-muito-claro);
}

.person {
  color: var(--ciano-cinza);
  font-size: 0.813rem;
}

.total {
  min-width: 160px;
  color: var(--ciano-cinza-claro);
  font-size: 2.3rem;
  display: block;
  text-align: right;
}

.btn-reset {
  width: 100%;
  height: 3rem;
  border: none;
  background-color: rgba(38, 192, 171, 0.452);
  text-transform: uppercase;
  color: var(--bg-branco);
  font-family: var(--font-family);
  font-size: 1.5rem;
  border-radius: 6px;
  transition: background-color 0.2s ease-in-out;
}

.btn-reset:enabled:hover {
  background-color: hsl(172, 77%, 75%);
  color: var(--ciano-preto-escuro);
  transition: background-color 0.2s ease-in-out;
}

.btn-reset[disabled] {
  /* background-color: var(--ciano-cinza-claro); */
  color: var(--ciano-preto-escuro);
  cursor: not-allowed;
}

.btn-reset:active {
  /* transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); */
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  transform: translateY(4px);
}

@media screen and (min-width: 768px) {
  .containerAmount {
    width: calc(100% - 3rem);
    margin-top: 0;
    padding-top: 3.125rem;
  }

  .containerAmount--container {
    height: 100%;
    justify-content: space-between;
  }

  .btn-reset {
    margin-bottom: 20px;
  }
}
